<div class="work-line-main" id="worlklines" style="padding-top: 50px;">
  <div class="titles">
    <h2>Líneas de trabajo</h2>
    <p>Transforma tu hogar con la innovadora plataforma de renovación de Goohaus</p>
  </div>
  <div class="container-first">
    <div class="first_col">
      <img src="../../../assets/img/img1.svg" alt="">
      <div class="text-section">
        <h3>Goohaus Design</h3>
        <p>Renueva tu hogar con Goohaus: plataforma personalizada para renovar sin salir de casa. Medidas y estilo son
          suficientes para crear un diseño en 2D/3D. Compra elementos en proveedores de confianza y recibe asesoramiento
          de una decoradora profesional. ¡Transforma tu hogar con Goohaus hoy!</p>
      </div>
    </div>
    <div class="second_col">
      <img src="../../../assets/img/img2.svg" alt="">
      <div class="text-section">
        <h3>Goohaus Retail</h3>
        <p>Goohaus se integra con páginas web de retails y tiendas de mobiliario, brindando experiencia personalizada y
          fácil de usar, aumentando el compromiso de usuarios y ventas. Plataforma adaptable a necesidades específicas y
          rentables, con tecnología de IA que clasifica y categoriza productos para facilitar la compra. ¡Únete hoy y
          transforma la experiencia de renovación del hogar para tus usuarios, aumentando tus ventas en línea con
          Goohaus!</p>
      </div>
    </div>
  </div>
</div>
