<div class="work-line-main" id="worlklines" style="padding-top: 50px;">
  <div class="titles">
    <h2>{{texts.worklines.title[lang]}}</h2>
    <p>{{texts.worklines.subtitle[lang]}}</p>
  </div>
  <div class="container-first">
    <div class="first_col" id="services">
      <img src="../../../assets/img/webp/busines.webp" alt="">
      <div class="text-section">
        <h3>{{texts.worklines.title1[lang]}}</h3>
        <p>{{texts.worklines.subtitle1[lang]}}</p><br><button> <a [href]="lang+'#form'"class="white">{{texts.worklines.btn[lang]}}</a></button>
      </div>

    </div>
    <div class="second_col">
      <img src="../../../assets/img/webp/projects.webp" alt="">
      <div class="text-section">
        <h3>{{texts.worklines.title2[lang]}}</h3>
        <p>{{texts.worklines.subtitle2[lang]}}</p>
        <button><a [href]="lang+'#form'" class="white">{{texts.worklines.btn1[lang]}}</a></button>
      </div>
    </div>
  </div>
</div>
