.work-line-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  .titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.5vw;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #4D4D4D;
    }
    p {
      font-size: 0.9vw;
      margin-bottom: 1rem;
      color: #4D4D4D;
    }
  }
  .container-first{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      .first_col{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        img{
          width: 50%;
          height: 100%;
          object-fit: fill;
        }
        .text-section{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 2rem;
          width: 50%;
          background-color: #FFF3F4;
          h3{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-align: center;
          }
          p{
            font-size: 1rem;
            margin-bottom: 1rem;
            a{
              color: red;
              text-decoration: none;
            }
          }
        }

        }
      .second_col{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        width: 100%;
        img{
          width: 50%;
          height: 100%;
          object-fit: fill;
        }
        .text-section{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 2rem;
          background-color: #FFF3F4;
          width: 50%;
          h3{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            margin-top: 1rem;
            text-align: center;
          }
          p{
            font-size: 1rem;
            margin-bottom: 1rem;
            a{
              color: red;
              text-decoration: none;
            }
          }
        }
      }
  }
}

@media screen and (max-width: 900px) {
  .work-line-main {
    height: auto;
    .container-first{
      .text-section{
        width: 100% !important;
        height: 300px ;
        h3{
          font-size: 1.5rem !important;
        }
        p{
          font-size: 1rem !important;
        }
      }
      .first_col{
        flex-direction: column;
        img{
          width: 100%;
        }
      }
      .second_col{
        flex-direction: column;
        img{
          width: 100%;
        }
      }
    }
  }
}


@media ( max-width : 768px) {
  .titles{
    h2{
      font-size: 4vw !important;
    }
    p{
      font-size: 1.5vw !important;
    }
  }
}

@media ( max-width: 576px) {
  .titles{
    h2{
      font-size: 6vw !important;
    }
    p{
      font-size: 2vw !important;
    }
  }
}
