<div class="work-line-main" id="worlklines" style="padding-top: 50px;">
  <div class="titles">
    <h2>Líneas de trabajo</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  </div>
  <div class="container-first">
    <div class="first_col">
      <img src="https://placeholder.com/400x300" alt="">
      <div class="text-section">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. <a href="#"><b> Read more</b></a></p>
        <span>$$$$</span>
      </div>
    </div>
    <div class="second_col">
      <img src="https://placeholder.com/400x300" alt="">
      <div class="text-section">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. <a href="#"><b> Read more</b></a></p>
        <span>$$$$</span>
      </div>
    </div>
  </div>
  <div class="button"><button>View more</button></div>
</div>
