<div class="footer-main" id="Contact">
  <div class="footer_main">
    <div class="one">
      <img src="../../../assets/img/larger-logo.svg" class="goohaus">
      <p>Súmate a la revolución del diseño <br> y dile GOO a tus nuevos espacios</p>
      <div class="social">
        <p>Siguenos en nuestras redes Sociales</p>
        <ul>
          <li><a href=""><fa-icon [icon]="faWhatsapp"></fa-icon></a></li>
          <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        </ul>
      </div>
    </div>

    <div class="three">
      <h2>Contáctanos:</h2>
      <div class="main">
        <div class="one">
          <h3>Constanza Collao</h3>
          <p><b>Celular:</b> + 56 9 7759 0474</p>
          <p><b>Email:</b> constanzacollao@goohaus.com</p>
        </div>
        <div class="two">
          <h3>Felipe Acevedo</h3>
          <p><b>Celular:</b> + 56 9 3894 1985</p>
          <p><b>Email:</b> felipeacevedo@goohaus.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    © 2023 Goohaus. Todos los derechos reservados. Casa Matriz: Padre Mariano 82, of 804, Providencia, Región
    Metropolitana, Chile.
  </div>
</div>
