<div class="footer-main" id="Contact">
  <img src="../../../assets/img/larger-logo.svg" class="goohaus">
  <div class="footer_main">
    <div class="one">
      <p>{{texts.footer.title[lang]}}</p>
      <div class="social">
        <p>{{texts.footer.subtitle[lang]}}</p>
        <ul>
          <li><a href="https://wa.link/9an86d">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a></li>
          <li><a href="https://www.instagram.com/goohaus_renueva/">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy">
    {{texts.footer.span[lang]}}
  </div>
</div>
