<div class="footer-main" id="Contact">
    <div class="1">
        <img src="../../../assets/img/larger-logo.svg" class="goohaus">
        <p>Lorem ipsum dolor sit, <br>amet consectetur adipisicing elit.</p>
    </div>
    <div class="2">
        <h2>lorem lorem
        </h2>
        <div class="footer-2">
            <img class="footer-img-2" src="https://placehold.co/104" alt="">
            <div class="column_desc">
              <p>2972 Westheimer Rd. Santa <br> Ana, Illinois 85486.</p>
              <h4 class="value">$ 20,000</h4>
            </div>
        </div>

    </div>
    <div class="3">
        <h2>Contact info</h2>
        <p><b>Phone:</b> 11 5559-0108</p>
        <p><b>Email:</b> abcd@domain.com</p>
        <p><b>Website:</b> abcd@domain.in</p>
        <p><b>instagram:</b> goohaus.studio</p>
    </div>
</div>
