<div class="section_main" id="Service" style="padding-top: 50px;">
  <h2 [innerHTML]="title"></h2>
  <p>{{desc}}</p>
  <div class="section_img">
    <div class="img_hover">
      <img src="../../../assets/img/work-design1.svg" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <div class="subtitle">{{img1sub}}</div>
        <a>></a>
      </div>
    </div>
    <div class="img_hover">
      <img src="{{img1}}" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <div class="subtitle">{{img1sub}}</div>
        <a>></a>
      </div>
    </div>
    <div class="img_hover">
      <img src="{{img1}}" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <div class="subtitle">{{img1sub}}</div>
        <a>></a>
      </div>
    </div>
    <div class="img_hover">
      <img src="{{img1}}" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <div class="subtitle">{{img1sub}}</div>
        <a>></a>
      </div>
    </div>
    <div class="img_hover">
      <img src="{{img1}}" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <div class="subtitle">{{img1sub}}</div>
        <a>></a>
      </div>
    </div>
  </div>
</div>
