<div class="section_main" id="Service" style="padding-top: 50px;">
  <div class="section_img">
    <div class="img_hover">
      <img src="../../../assets/img/work-design1.svg" alt="">
      <div class="overlay">
        <div class="text">{{img1desc}}</div>
        <a>></a>
      </div>
    </div>
    <div class="section-txt">
      <h3>Súmate a la revolución
        del diseño</h3>
      <p>
        Bienvenido a Goohaus, la plataforma tecnológica que te permite renovar tu hogar de una manera personalizada a través del uso de inteligencia artificial. Sabemos que renovar tu hogar puede ser una tarea abrumadora, especialmente si no estás seguro por dónde empezar o cómo hacer realidad tu visión. Es por eso que hemos creado Goohaus, una plataforma que pone el poder en tus manos y te ayuda a crear la casa de tus sueños.
      </p>
      <span>
        ¡Vive la experiencia Goohaus! Renueva tus espacios a tu gusto, a tu presupuesto y de manera online.
      </span>
    </div>
  </div>
</div>
