<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="assets/img/logo.svg" alt="Logo">
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="#">Home</a></li>
      <li class="navbar-item"><a href="#Ourteam">Nosotros</a></li>
      <li class="navbar-item"><a href="#support">Preguntas frecuentes</a></li>
      <li class="navbar-item"><a href="#Contact">Contacto</a></li>
    </ul>
  </div>
</nav>
