<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="assets/img/logo.svg" alt="Logo">
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a [ngStyle]="{'color': linkColor}" href="#">Home</a></li>
      <li class="navbar-item"><a [ngStyle]="{'color': linkColor}" href="#Service">Service</a></li>
      <li class="navbar-item"><a [ngStyle]="{'color': linkColor}" href="#support">Support</a></li>
      <li class="navbar-item"><a [ngStyle]="{'color': linkColor}" href="#Empresas">Companies</a></li>
      <li class="navbar-item"><a [ngStyle]="{'color': linkColor}" href="#Contact">Contact</a></li>
    </ul>
    </div>
</nav>
