<div class="companies-main" id="Empresas" style="padding-top: 50px;">
  <div class="titles">
    <h2>Partners Estratégicos</h2>
    <p>Descubre con quiénes ya estamos renovando hogares</p>
  </div>
  <div class="companies-img">
    <div class="img-o">
      <img src="../../../assets/img/walmart.svg" alt="">
      <button>¡Quiero conocer más!</button>
    </div>
    <div class="img-t">
      <img src="../../../assets/img/babytuto.svg" alt="">
      <span>Próximamente<br>Online</span>
    </div>
  </div>
</div>
