<div class="companies-main" id="Empresas" style="padding-top: 50px;">
  <div class="titles">
    <h2>{{texts.companies.title[lang]}}</h2>
    <p>{{texts.companies.subtitle[lang]}}</p>
  </div>
  <div class="companies-img">
    <div class="img-o">
      <img src="../../../assets/img/walmart.svg" alt="">
      <a href="https://lider.goohaus.com/decogoohaus" ><button>{{texts.companies.btn[lang]}}</button></a>    </div>
    <div class="img-t">
      <img src="../../../assets/img/babytuto.svg" alt="">
       <span >{{texts.companies.span[lang]}}</span> <!-- <a href="https://cyberday.babytuto.com/"><button>¡Quiero conocer más!</button></a> -->
    </div>
  </div>
</div>
