<app-navbar-home [lang]="lang" [langRedirect]="lang === 'es' ? 'en' : 'es'"></app-navbar-home>
<app-head-carousel [lang]="lang"></app-head-carousel>
<section>
  <app-companies [lang]="lang"></app-companies>
  <app-work-design [lang]="lang"></app-work-design>

  <app-how-goo-haus [lang]="lang"></app-how-goo-haus>
  <app-work-lines [lang]="lang"></app-work-lines>

  <app-form [lang]="lang"></app-form>
  <app-our-team [lang]="lang"></app-our-team>
</section>
<app-footer [lang]="lang"></app-footer>
<app-whatsapp></app-whatsapp>
