<div class="main_goohaus" style="padding-top: 50px;" id="support">
  <div class="title">
    <h2>{{texts.howgoohaus.title[lang]}}</h2>
  </div>
  <div class="flex-goohaus">

    <div class="maindesc">

      <div class="desc">
        <img class="circle" src="../../../assets/img/webp/Comofunciona/imagen1.webp" alt="">
        <div class="new"><h3>{{texts.howgoohaus.subtitle[lang]}}</h3></div>

      </div>
      <div class="desc">
        <img class="circle" src="../../../assets/img/webp/Comofunciona/imagen2.webp" alt="">
        <div class="new"><h3>{{texts.howgoohaus.subtitle1[lang]}}</h3></div>
        <!-- <p>Personalizaremos tu renovación según tus gustos decorativos.</p> -->
      </div>
      <div class="desc">
        <img class="circle" src="../../../assets/img/webp/Comofunciona/imagen3.webp" alt="">
        <div class="new"><h3>{{texts.howgoohaus.subtitle2[lang]}}</h3></div>
        <!-- <p>¡Compra todo lo que necesitas para transformar tu espacio en un solo lugar!</p> -->
      </div>
    </div>
    <div class="video_section">
      <video style="max-width: 95vw; max-height: 70vh;" src="{{texts.howgoohaus.video[lang]}}" controls></video>

      <!-- <iframe src="https://www.youtube.com/embed/LY3x6-LPh78" title="Goohaus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      <a href="https://lider.goohaus.com/decogoohaus"><button>{{texts.howgoohaus.btn[lang]}}</button></a>
    </div>
  </div>
</div>
