<div class="main_goohaus" style="padding-top: 50px;" id="support">
  <div class="title">
    <h2>¿Cómo funciona Goohaus?</h2>
    <p>
      Nuestra plataforma está diseñada para hacer que el proceso de renovar tu hogar sea lo más fácil y sin estrés
      posible.
    </p>
  </div>
  <div class="flex-goohaus">
    <div class="maindesc">
      <div class="desc">
        <h3>1.- Sube las medidas y distribución de tu espacio</h3>
        <p>Evita errores al comprar tus muebles proporcionando información básica sobre tu hogar.</p>
      </div>
      <div class="desc">
        <h3>2.- Descubre tu estilo decorativo</h3>
        <p>Personalizaremos tu renovación según tus gustos decorativos.</p>
      </div>
      <div class="desc">
        <h3>3.- Visualiza tu espacio renovado en 2d y 3D </h3>
        <p>¡Compra todo lo que necesitas para transformar tu espacio en un solo lugar!</p>
      </div>
    </div>
    <div class="video_section">
      <video controls>
        <source src="https://via.placeholder.com/640x360.png?text=Placeholder+Video" type="video/mp4">
      </video>
      <button>¡Comenzar!</button>
    </div>
  </div>
</div>
