<div class="main_goohaus" style="padding-top: 50px;" id="support">
  <div class="title">¿Cómo funciona Goohaus?</div>
  <div class="flex-goohaus">
    <div class="maindesc">
      <div class="desc">
        <h3>Lorem Ipsum </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget diam habitant massa in.</p>
      </div>
      <div class="desc">
        <h3>Lorem Ipsum </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget diam habitant massa in.</p>
      </div>
      <div class="desc">
        <h3>Lorem Ipsum </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget diam habitant massa in.</p>
      </div>
    </div>
    <div class="video_section">
      <video  controls>
        <source src="https://via.placeholder.com/640x360.png?text=Placeholder+Video" type="video/mp4">
      </video>
    </div>
  </div>
</div>
