<div class="team-main" id="Ourteam" style="padding-top: 50px;">
  <div class="titles">
    <h2>Equipo</h2>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="team-img">
    <div>
      <img src="https://placehold.co/350" alt="" />
      <h3>lorem</h3>
      <p>co-founder</p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="https://placehold.co/350" alt="" />
      <h3>lorem</h3>
      <p>co-founder</p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="https://placehold.co/350" alt="" />
      <h3>lorem</h3>
      <p>founder</p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="https://placehold.co/350" alt="" />
      <h3>lorem</h3>
      <p>co-founder</p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="https://placehold.co/400" alt="" />
      <h3>lorem</h3>
      <p>co-founder</p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</div>
