<div class="team-main" id="Ourteam" style="padding-top: 50px;">
  <div class="titles">
    <h2>Equipo fundador</h2>
    <p>
      Un equipo innovador y multidisciplinario, con una sólida base tecnológica, liderado por expertos en arquitectura, decoración, negocios y servicios digitales
    </p>
  </div>
  <div class="team-img">
    <div>
      <img src="../../../assets/img/cons.svg" alt="" />
      <h3>Constanza Collao Alonso</h3>
      <p>CEO y Founder</p>
      <p>
        Arquitecta, MBA, emprendedora, cofundadora de Sumatoria, empresa de arquitectura y diseño. Con visión interdisciplinar y experiencia en generación y gestión de nuevos proyectos en ámbitos de arquitectura y emprendimiento.
      </p>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/constanzacollaoalonso/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="../../../assets/img/fel1.svg" alt="" />
      <h3>Felipe Acevedo Garrido</h3>
      <p>COO y Founder</p>
      <p>Constructor Civil e Ingeniero Civil Industrial, MBA, con +18 años de experiencia en el mercado de bienes raíces en Chile y Latam. Ha liderado el crecimiento de diferentes unidades de negocio implementado la planificación estratégica, creando nuevas líneas de servicio, clientes, en diferentes mercados.</p>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/jfacevedog/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div>
      <img src="../../../assets/img/fel2.svg" alt="" />
      <h3>Marcelo Collao</h3>
      <p>COO y Founder</p>
      <p>Ingeniero Electrónico, con +20 años de experiencia en telecomunicaciones y servicios TI, a cargo de áreas de continuidad operativa, ingeniería, procesos y desarrollo de soluciones. Certificaciones técnicas internacionales MCSE de Microsoft, AWS practitioner, VCP de Vmware, post título de Data Science, IA&ML, entre otros.    </p>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/marcelo-collao-cl/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</div>
