<div class="team-main" id="Ourteam" style="padding-top: 50px;">

  <div class="titles">
    <h2>{{texts.our.title[lang]}}</h2>
    <p>{{texts.our.subtitle[lang]}}</p>
  </div>
  <div class="team-img">
    <div>
      <img src="../../../assets/img/cons.svg" alt="" />
      <h3>Constanza Collao Alonso</h3>
      <p>CEO y Founder</p>
      <p class="p">
        {{texts.our.p[lang]}}
      </p>
      <p class="tel"><b>{{texts.our.b[lang]}}</b> + 56 9 7759 0474</p>
      <a href="mailto:constanzacollao@goohaus.com">
        <p class="mail"><b>Email:</b> constanzacollao@goohaus.com</p>
      </a>
      <ul>
        <li>
          <a class="din" href="https://www.linkedin.com/in/constanzacollaoalonso/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <img src="../../../assets/img/fel1.svg" alt="" />
      <h3>Felipe Acevedo Garrido</h3>
      <p>CCO y Founder</p>
      <p class="p">{{texts.our.p1[lang]}}</p>

      <p class="tel"><b>{{texts.our.b[lang]}}</b> + 56 9 3894 1985</p>
      <a href="mailto:felipeacevedo@goohaus.com">
        <p class="mail"><b>Email:</b> felipeacevedo@goohaus.com</p>
      </a>
      <ul>
        <li>
          <a class="din" href="https://www.linkedin.com/in/jfacevedog/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <img src="../../../assets/img/javier.jpg" alt="" />
      <h3>Javier Ortiz</h3>
      <p>CTO y Founder</p>
      <p class="p">{{texts.our.p2[lang]}}</p>
      <p class="tel"><b>{{texts.our.b[lang]}}</b> +34 613 62 69 39</p>

      <a href="mailto:javierortiz@goohaus.com">
        <p class="mail"><b>Email:</b> <br>javierortiz@goohaus.com</p>
      </a>
      <ul>
        <li>
          <a class="din" href="https://www.linkedin.com/in/javierortizt/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
