@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  ::-webkit-scrollbar {
      width: 0.4vw;
  }
  ::-webkit-scrollbar-thumb {
      background: red  ;
      &:hover{
          background: blueviolet  ;
      }
  }
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (max-width: 1920px) {
  *{
      font-size: 1.2vw;
  }
}
@media screen and (max-width: 1600px) {
  *{
      font-size: 1.3vw;
  }
}
@media screen and (max-width: 1200px) {
  *{
      font-size: 1.4vw;
  }
}
@media screen and (max-width: 1000px) {
  *{
      font-size: 1.7vw;
  }
}
@media screen and (max-width: 700px) {
  *{
      font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  *{
      font-size: 3vw;
  }
}
